* {
	font-family: 'Noto Sans Mono', monospace;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background-color: #3a5a40;
	color: #fefae0;
}

.nav {
	display: flex;
	justify-content: space-between;
	font-weight: 500;
	font-size: 22px;
	margin: 20px auto;
	max-width: 768px;
}

.nav a {
	text-decoration: none;
	color: #fefae0;
	padding: 5px 15px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 165px;
	margin: 10px 20px;
}

.btn {
	padding: 8px 20px;
	font-size: 16px;
	font-weight: inherit;
	margin: 10px 20px;
	border-radius: 10px;
	background-color: #a3b18a;
	border: 1px solid #a3b18a;
	color: inherit;
	letter-spacing: 2px;
}

.setting-btn {
	color: #fefae0;
	font-size: 22px;
	background-color: #a3b18a;
	border: 1px solid #a3b18a;
	padding: 5px 15px;
	border-radius: 20px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 165px;
	letter-spacing: 0;
}

.btn:hover {
	cursor: pointer;
	background-color: #588157;
	border: 1px solid #588157;
}

.timer {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	font-size: 80px;
	font-weight: 900;
}

.timer-digits {
	letter-spacing: 5px;
}

.timer-btn {
	display: flex;
}

.tab {
	display: flex;

}

.tab-btn {
	font-size: 14px;
	font-weight: 400;
	background-color: #3a5a40;
	margin: 10px;
}

.active {
	background-color: #588157;
	border: 1px solid #588157;
}

.todo {
	font-size: 16px;
	color: #a3b18a;
	display: flex;
	flex-direction: column;
	max-width: 768px;
	margin: 0 auto;
}

.section-title {
	color: #fefae0;
	font-size: 22px;
	font-weight: 500;
	margin: 15px auto;
	padding: 5px 15px;
	display: flex;
	width: 126px;
	align-items: center;
	justify-content: space-between;
}

.input-area {
	display: flex;
	align-items: center;
	background-color: #588157;
	justify-content: center;
	padding: 15px 20px;
	width: 95%;
	max-width: 450px;
	margin: 0 auto;
	border: 2px dashed #a3b18a;
	border-radius: 10px;
	cursor: pointer;
	transition: transform 200ms;
}

.input-area:hover {
	transform: scale(1.1);
}

.task-btn, .svg-plus {
	margin: 0 5px;
}

.tasks {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.task-input {
	width: 95%;
	max-width: 450px;
	background-color: #fefae0;
	border-radius: 10px;
	color: #fefae0;
	display: flex;
	flex-direction: column;
	margin-bottom: 10px;
}

.task-input input {
	width: 100%;
	padding: 15px 20px;
	border-radius: 10px;
	background-color: #fefae0;
	border: 1px solid #fefae0;
	outline: none;
}

.btn-group {
	margin: 10px;
}

.cancel-btn, .save-btn {
	font-size: 12px;
	font-weight: 800;
	padding: 5px 15px;
	margin: 0;
}

.hidden {
	display: none;
}

.shown {
	display: block;
}

::placeholder {
	font-style: italic;
}

.check-btn {
	background: none;
	border: none;
	cursor: pointer;
	display: flex;
	align-items: center;
}

.task-lists {
	width: 95%;
	max-width: 450px;
}

.task {
	display: flex;
	align-items: center;
	margin-bottom: 15px;
	/* background-color: #588157;
	padding: 15px 20px;
	border-radius: 10px; */
}

.check-btn, .task-desc {
	margin: 0 5px;
}
